[submodule "aria2/webui-aria2"]
	path = aria2/webui-aria2
	url = https://github.com/ziahamza/webui-aria2.git
[submodule "tmux/tmux/tpm"]
	path = tmux/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/tmux/plugins/tpm"]
	path = tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/zplug"]
	path = zsh/zplug
	url = https://github.com/zplug/zplug.git
